.deposit-container {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 100px;
  gap: 10px;
}
.deposit-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(89, 1, 64);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
