/* Transfer.css */
.transfer-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  margin-top: 100px;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.transfer-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(89, 1, 64);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.transfer-button:disabled {
  background-color: #cccccc;
}
