.navbar {
  position: fixed; /* if you want it sticky */
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(240, 240, 240);
  z-index: 1000;
}

/* If you want the logo text to stay fully opaque, you can override after */
.navbar .logo {
  opacity: 1;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1000px;
  margin: 0 auto;
  width: auto;
}
