.custom-card {
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap */
  width: 100%;
  max-width: 1000px;
  background-color: rgb(89, 1, 64);
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  font-family: Arial, sans-serif;
  position: relative; /* Needed for absolute positioning */
}

/* Balance and Account container */
.balance-account-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.balance {
  flex: 1;
  padding-right: 40px;
}

/* Transaction History positioning */
.transaction-history {
  position: absolute;
  right: 30px;
  bottom: 0;
}

@media (min-width: 769px) {
  .balance {
    margin-right: 400px;
  }
}

@media (max-width: 768px) {
  .custom-card {
    margin-top: 120px;
    padding: 20px;
    width: 100%; /* Increased width for mobile */
    max-width: none; /* Remove max-width constraint */
  }

  .balance-account-container {
    flex-direction: row;
  }

  .balance {
    margin-right: 0;
    padding-right: 60px;
    width: 100%;
    margin-bottom: 20px;
  }

  .account-no {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }

  .transaction-history {
    position: static;
    width: 100%;
    text-align: right;
    margin-top: 20px;
  }
}
